@import '..\..\less\valenceui.less';

.vui-moreless {
	overflow: hidden;
	.transition-cubicbezier( height );


}

.vui-moreless-more {

}

.vui-moreless-blur {
	position: relative;
	height: 1em;
	bottom: 1em;
	background: transparent;
}